* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header {
    display: flex;
    flex-flow: row wrap;
    background-color: #f79617;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}
.nav li {
    list-style: none;
    padding: 0 0 0 40px ;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
ul {
    display: flex;
    flex-flow: row wrap;
}
#frontPage {
    margin-top: 5px;
    background-image: url("./images/hero-image.jpg");
    background-size: cover;
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.textContainer {
    width: 40%;
    display: flex;
    align-items: flex-end;
    height: 70%;
}
.textContainer h1 {
    background-color: white;
    padding: 20px;
    font-weight: 900;
    font-size: 35px;
    width: 547px;
}
#secondPage {
    padding: 20px 100px;
    margin-bottom: 30px;
}
#secondPage h1 {
    font-size: 35px;
    margin: 0 0 20px 0;
}
.foodText {
    font-size: 30px;
    margin-bottom: 30px;
}
.images {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#secondPage img {
    width: 360px;
    height: 250px;
    object-fit: cover
}
.images p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}
.imageOne {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.imageTwo {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.imageThree {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
#thirdPage h1 {
    font-size: 35px;
    margin: 0 0 20px 0;
    margin-top: 30px;
}
#thirdPage {
    background-color: lightgray;
    padding: 20px 100px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}
.imagesOne p {
    font-size: 20px;
    font-weight: 600;
    width: 250px;
    background-color: white;
    padding: 15px;
    text-align: center;
}
.imagesOne {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 250px;
}
.faj {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    background-image: url(./images/fajita-peppers.jpeg);
    background-size: 110%;
    background-position: center top;
    transition: 0.2s;
}
.Ree {
    transition: 0.2s;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    background-image: url(./images/muffins.jpeg);
    background-size: 100%;
    background-position: top;
}
.egg {
    transition: 0.2s;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    background-image: url(./images/eggplant-parmesan.jpg);
    background-size: 100%;
    background-position: center top;
}
.ter {
    transition: 0.2s;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    background-image: url(./images/teriyaki-chicken.jpeg);
    background-size: 100%;
    background-position: center top;
}
#fourthPage {
    padding: 20px 100px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}
#fourthPage img {
    width: 346px;
    height: 236px;
    object-fit: cover;
    border: 7px solid lightgray;
}
#fourthPage h1 {
    font-size: 35px;
    margin: 0 0 20px 0;
}
#footer {
    height: 121px;
    background-color: #f79617;
    padding: 0 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#footer p {
    font-size: 25px;
}
.hover {
    transition: 0.2s;
}
.hover:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow: 2px 9px 12px -3px rgba(0,0,0,0.75);
}
.hoverTwo:hover {
    cursor: pointer;
}
.faj:hover{
    cursor:pointer;
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 2px 9px 12px -3px rgba(0,0,0,0.75);
}
.Ree:hover{
    cursor:pointer;
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 2px 9px 12px -3px rgba(0,0,0,0.75);
}
.egg:hover{
    cursor:pointer;
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 2px 9px 12px -3px rgba(0,0,0,0.75);
}
.ter:hover{
    cursor:pointer;
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 2px 9px 12px -3px rgba(0,0,0,0.75);
}



#Recipe {
    background-image: url("./images/burger.jpg");
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.textContainerRecipe {
    width: 40%;
    display: flex;
    align-self: center;
    align-items: flex-end;
    justify-content: center;
    height: 80%;
}
.textContainerRecipe h1 {
    background-color: white;
    padding: 20px;
    font-weight: 900;
    font-size: 35px;
    width: 547px;
    text-align: center;
}
#making ul li {
    list-style: disc;
}
#making {
    display: flex;
}
#time {
    background-color: rgb(191, 204, 215);
    padding-top: 30px;
    padding: 30px 100px;
}
#time h1 {
    padding-bottom: 20px;
}
.container {
    display: flex;
    height: 60px;
    width: 1200px;
    justify-content: space-between;
    flex-flow: column wrap;
}
.container p {
    font-size: 20px;
}
#mainPage {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#mainPage h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.reviews {
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin-bottom: 15px;
}
#star {
    color:#941b25;
    font-size: 22px;
    padding-right: 15px;
}
.save {
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 15px;
}
.save p {
    padding-right: 10px;
    padding: 10px 40px;
    font-size: 18px;
    margin-right: 20px;
    background-color: #941b25;
    color: white;
    border-radius: 100px;
    transition: 0.2s;
}
.save p:hover {
    cursor: pointer;
    background-color: #b1333d;
    transition: 0.2s;
}
.save svg {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 100px;
}
.save svg:hover{
    cursor: pointer;
    color: lightslategray;
    border: 1px solid lightslategray;
}
#quote {
    background-color: rgb(234, 234, 234);
    font-size: 15px;
    width: 55%;
    padding:  40px 90px;
    margin: 0 auto;
    text-align: center;
    color: rgb(61, 61, 61);
}
#making {
    width: 65%;
    margin: 0 auto;
}
#ingList {
    display: flex;
    flex-flow: column wrap;
}
.ingredients {
    width: 1300px;
    margin-right: 150px;
}
.ingredients h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.ingredients h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 15px;
}
#ingList li {
    margin-left: 15px;
    padding-bottom: 5px;
}
.bigList {
    margin-bottom: 150px;
}
#spimix li {
    margin-left: 15px;
    padding-bottom: 5px;
}
.directions h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.dir li {
    margin-left: 20px;
    padding-bottom: 30px;
}
#bold {
    list-style: none;
    font-weight: 900;
    padding-bottom: 3px;
}
iframe {
    margin-top: 100px;
}